#damaged {
    width: 100%;
    /*height:20%;*/
    background-color: palevioletred;
}

#unchecked {
    width: 100%;
    /*height:20%;*/
    background-color: darkgrey;
}

#damage-index {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.title-wrapper-unchecked {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.title-wrapper-checked {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.title-wrapper h3 {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

#uncheckedSingle, #checkedSingle {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 10px 5px 10px 5px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#uncheckedSingle > *, #checkedSingle > * {
    display: flex;
    justify-content: center;
}

#unchecked, #damaged {
    min-height: 150px;
}

.wrapper {
    margin-bottom: 40px;
}
