<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contract</title>
    <!--<link rel="stylesheet" th:href="@{style.css}" href="../static/style.css" type="text/css">-->
    <link href="../../static/style.css" rel="stylesheet" th:href="@{style.css}">
    <link href="../../static/style.css" rel="stylesheet" th:href="@{contract-css/all-contracts.css}">

</head>

<body>

<header th:insert="fragments/header.html :: nav"></header>


<main>
    <section id="all-contracts">
        <h1>Alle aktuelle lejekontrakter</h1>

        <a th:href="@{/contractForm}">
        <button class="general-button">Tilføj ny lejekontrakt</button>
        </a>

        <div class="title-wrapper">
            <h3>CPR</h3>
            <h3>Pris</h3>
            <h3>Afhentningssted</h3>
            <h3>Afleveringssted</h3>
            <h3>Startdato</h3>
            <h3>Slutdato</h3>
            <h3>Er returneret?</h3>
        </div>

        <div class="contracts">
        <span class="contract" th:each="contract : ${contracts}">
            <span th:text="${contract.getCprNum()}"></span>
            <span th:text="${contract.getPrice()}"></span>
            <span th:text="${contract.getPickupPlace()}"></span>
            <span th:text="${contract.getReturnPlace()}"></span>
            <span th:text="${contract.getStartDate()}"></span>
            <span th:text="${contract.getEndDate()}"></span>
            <span th:text="${contract.isReturned()}"></span>
                <a th:href="@{/contract?id={id}(id=${contract.getId()})}">
                    <button>Se lejekontrakt</button>
                </a>
        </span>
        </div>
    </section>
</main>
</body>
</html>
