<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create employee</title>
    <link href="../../static/style.css" rel="stylesheet" th:href="@{style.css}">
    <link href="../../static/form.css" rel="stylesheet" th:href="@{form.css}">
</head>
<body>
<h1>Opret ny kontrakt</h1>
<form action="/createContract" method="POST">
    <label for="customerCprNr">Kunde Cpr Nr.</label>
    <input id="customerCprNr" name="customerCprNr" type="text">

    <label for="vinNo">Stelnummer</label>
    <input id="vinNo" name="vinNo" type="text">

    <label for="contractPrice">Kontrakt Pris</label>
    <input id="contractPrice" name="contractPrice" type="number">

    <label for="carPickupPlace">Afhentningssted</label>
    <input id="carPickupPlace" name="carPickupPlace" type="text">

    <label for="carReturnPlace">Returneringsted</label>
    <input id="carReturnPlace" name="carReturnPlace" type="text">

    <label for="contractStartDate">Kontrakts startdato</label>
    <input id="contractStartDate" name="contractStartDate" type="date">

    <label for="contractEndDate">Kontrakts slutdato</label>
    <input id="contractEndDate" name="contractEndDate" type="date">

    <input id="submit" type="submit">
</form>
</body>
</html>