<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create employee</title>
    <link href="../../static/style.css" rel="stylesheet" th:href="@{style.css}">
    <link href="../../static/form.css" rel="stylesheet" th:href="@{form.css}">
</head>
<body>
<header th:insert="fragments/header.html :: nav"></header>
<main>

    <h1>Opret ny kontrakt</h1>
    <section id="create-contract-wrapper">
        <form action="/createContract" method="POST">

            <label for="customerCprNr">Kunde
                <select id="customerCprNr" name="customerCprNum">
                    <option th:each="customer : ${customers}"
                            th:text="${customer.getCprNum() + ' ' + customer.getFirstname() + ' ' + customer.getLastname()}"
                            th:value="${customer.getCprNum()}"></option>
                </select>
            </label>
            <!--<input id="customerCprNr" name="customerCprNr" type="text">-->

            <label for="vinNo">Stelnummer
                <select id="vinNo" name="vin">
                    <option th:each="car : ${cars}"
                            th:text="${car.getVin() + ' ' + car.getMake() + ' ' + car.getModel()}"
                            th:value="${car.getVin()}"></option>
                </select>
            </label>

            <!--<label for="vinNo">Stelnummer</label>
            <input id="vinNo" name="vinNo" type="text">-->

            <label for="contractPrice">Kontrakt Pris</label>
            <input id="contractPrice" name="contractPrice" type="number" required>

            <label for="carPickupPlace">Afhentningssted</label>
            <input id="carPickupPlace" name="carPickupPlace" type="text" required>

            <label for="carReturnPlace">Returneringsted</label>
            <input id="carReturnPlace" name="carReturnPlace" type="text" required>

            <label for="contractStartDate">Kontrakts startdato</label>
            <input id="contractStartDate" name="contractStartDate" type="date" required>

            <label for="contractEndDate">Kontrakts slutdato</label>
            <input id="contractEndDate" name="contractEndDate" type="date" required>

            <input id="submit" type="submit">
        </form>
    </section>
</main>
</body>
</html>