<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rediger kontrakt</title>
    <link href="../../static/style.css" rel="stylesheet" th:href="@{style.css}">
    <link href="../../static/form.css" rel="stylesheet" th:href="@{form.css}">
</head>

<body>
<header th:insert="fragments/header.html :: header"></header>

<main>

    <h1>Rediger kontrakt</h1>
    <section id="edit-contract-wrapper">
        <form action="/editContract" method="POST">

            <label for="contractId" hidden>damageId</label>
            <input hidden id="contractId" name="contractId" th:value="${contract.getId()}" type="number">

            <label for="customerCprNr">Kunde Cpr Nr. (kan ikke ændres)</label>
            <input id="customerCprNr" class="not-changeable" name="customerCprNum" th:value="${contract.getCprNum()}" type="text">

            <label for="vinNo">Stelnummer (kan ikke ændres)</label>
            <input id="vinNo" class="not-changeable" name="vin" th:value="${contract.getVin()}" type="text">

            <label for="contractPrice">Kontrakt Pris</label>
            <input id="contractPrice" name="contractPrice" th:value="${contract.getPrice()}" type="number">

            <label for="carPickupPlace">Afhentningssted</label>
            <input id="carPickupPlace" name="carPickupPlace" th:value="${contract.getPickupPlace()}" type="text">

            <label for="carReturnPlace">Returneringsted</label>
            <input id="carReturnPlace" name="carReturnPlace" th:value="${contract.getReturnPlace()}" type="text">

            <label for="contractStartDate">Kontrakts startdato</label>
            <input id="contractStartDate" name="contractStartDate" th:value="${contract.getStartDate()}" type="date">

            <label for="contractEndDate">Kontrakts slutdato</label>
            <input id="contractEndDate" name="contractEndDate" th:value="${contract.getEndDate()}" type="date">

            <label for="isReturned" hidden>isReturned</label>
            <input hidden id="isReturned" name="isReturned" th:value="${contract.isReturned()}" type="text">

            <label for="isDamaged" hidden>damageId</label>
            <input hidden id="isDamaged" name="isDamaged" th:value="${contract.getDamage()}" type="text">

            <input id="submit" type="submit">
        </form>
    </section>
</main>
</body>
</html>