/**** General css rules for the entire application ****/

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
}

:root {
    --main-color: black;
    --secondary-color: white;
    --button-bg-color: #1892c3;
}

main {
    min-height: 100vh;
}

/**** HEADER & NAV STYLING ****/

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navbar button {
    font-size: 16px;
    padding: 10px;
    box-shadow: 0px 3px lightblue;
}

/*.navbar button {
    background-color: var(--button-bg-color);
    color: var(--secondary-color);
    border-radius: 5px;
    border: 0;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
    box-shadow: 1px 4px lightblue;
}*/

main {
    background-color: #f2f2f2;
}

h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
}

table, th, td {
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: column;
}

form #submit {
    background-color: var(--button-bg-color);
    color: var(--secondary-color);
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

form input {
    border-radius: 5px;
}

.general-button {
    background-color: var(--button-bg-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 40px;
}

.delete-button {
    padding: 2px 10px 2px 10px;
    background-color: #D22B2B;
    color: white;
    margin-left: 10px;
    border: none;
}



