<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contract</title>
    <!--<link rel="stylesheet" th:href="@{style.css}" href="../static/style.css" type="text/css">-->
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">

</head>
<body>
<h1>An overview of an contract</h1>
<table>
    <tr
            th:each="contract : ${contracts}">
        <td th:text="${contract.getId()}"></td>
        <td th:text="${contract.getCprNum()}"></td>
        <td th:text="${contract.getPrice()}"></td>
        <td th:text="${contract.getPickupPlace()}"></td>
        <td th:text="${contract.getReturnPlace()}"></td>
        <td th:text="${contract.getStartDate()}"></td>
        <td th:text="${contract.getEndDate()}"></td>
        <td th:text="${contract.isReturned()}"></td>
        <td th:text="${contract.getDamage()}"></td>

        <!--th:href="@{/manager/add(param1=1,param2=${person.id})}"-->
        <!--<a th:ref="@{/damageReport(id='1',cpr='2')}">
            <button>t</button>
        </a>-->
        <a th:href="@{/damageReport?id={id}(id=${contract.getId()})}">
            <button>t</button>
        </a>
        <!--<a th:href="@{/damageReport?id={id} (id= ${contract.getId()})
                                 + ?cpr={cpr} (cpr= ${contract.getCprNr()}) }">
            <button>t</button>
        </a>-->

    </tr>
</table>
</body>
</html>
