<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{navbar.css}" href="../static/navbar.css">
    <link rel="stylesheet" th:href="@{businessDevelopment.css}" href="../static/businessDevelopment.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <p class="title">Business Development page</p>
            </div>
        </nav>
    </header>

    <main>
        <h1 class="header">List of all rented cars</h1>
        <section id="business-wrapper">

        </section>
    </main>
<h1>An overview of all rented cars</h1>
    <p th:text="${totalValue}">should display the total value of all the rented cars</p>
    <table>
        <tr
                th:each="car : ${cars}">
            <td th:text="${car.getId()}"></td>
            <td th:text="${car.getVinNo()}"></td>
            <td th:text="${car.getMake()}"></td>
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getEquipmentLevel()}"></td>
            <td th:text="${car.getValuePreTax()}"></td>
            <td th:text="${car.getRegistrationTax()}"></td>
            <td th:text="${car.getCo2Emission()}"></td>
            <td th:text="${car.getIs_leased()}"></td>
        </tr>
    </table>
</body>
</html>
