<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret ny skade til skaderapport</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{form.css}" href="../static/form.css">
</head>
<body>
<h1>Opret ny skade</h1>
<form method="POST" action="/createDamage">
    <label for="damagePrice">Skadepris</label>
    <input id="damagePrice" type="number" name="damagePrice">
    <label for="damageDescription">Skadebeskrivelse</label>
    <input id="damageDescription" type="text" name="damageDescription">
    <label for="contractId" hidden>contractId</label>
    <input id="contractId" type="number" name="contractId" th:value="${param.contractId}" hidden>
    <input type="submit" id="submit">
</form>
</body>
</html>