<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{damageIndex.css}" href="../static/damageIndex.css">

</head>
<body>

<div id="unchecked" class="damageBox" th:each="uncheckedContract: ${uncheckedContracts}">
    <div id="uncheckedSingle">
        <span th:text="${uncheckedContract.getCprNum()}"></span>
        <span>vin no</span>
        <span>contract price</span>
        <span>car pick up</span>
        <span>car return</span>
        <span>contract start date</span>
        <span>contract end date</span>
        <button>YES</button>
        <button>NO</button>
    </div>
</div>

<div id="damaged" >
    <div id="damagedSingle">
        <span>customer cpr nr</span>
        <span>vin no</span>
        <span>contract price</span>
        <span>car pick up</span>
        <span>car return</span>
        <span>contract start date</span>
        <span>contract end date</span>
        <button>se skadesrapport</button>
    </div>
</div>


</body>
</html>