<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{login.css}" href="../static/login.css">

</head>
<body>
  <main>
    <section id="login">
        <div class="login-wrapper">
            <!--TODO action/endpoint-->
            <form method="POST" action="/authUser">
                <label for="username">Brugernavn</label>
                <input id="username" type="text" name="username">
                <label for="password">Kodeord</label>
                <input id="password" type="text" name="password">
                <input type="submit" value="Log ind" id="submit">
            </form>
        </div>
    </section>
  </main>
</body>
</html>