<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/style.css" rel="stylesheet" th:href="@{style.css}">
    <link href="../static/login.css" rel="stylesheet" th:href="@{login.css}">

</head>
<body>
<main>
    <section id="login">
        <div class="login-info">
            <h3>Logininformation:</h3>
            <table>
                <tr>
                    <th>Afdeling</th>
                    <th>Brugernavn</th>
                    <th>Kodeord</th>
                </tr>
                <tr>
                    <td>Forretningsudvikler</td>
                    <td>alex</td>
                    <td>123</td>
                </tr>
                <tr>
                    <td>Skadesansvarlig</td>
                    <td>oliver</td>
                    <td>123</td>
                </tr>
                <tr>
                    <td>Lejekontraktsansvarlig</td>
                    <td>kristian</td>
                    <td>123</td>
                </tr>
            </table>
        </div>

        <div class="login-wrapper">
            <!--TODO action/endpoint-->
            <form action="/authUser" method="POST">
                <label for="username">Brugernavn</label>
                <input id="username" name="username" type="text">
                <label for="password">Kodeord</label>
                <input id="password" name="password" type="password">
                <input id="submit" type="submit" value="Log ind">
            </form>
        </div>
    </section>
</main>
</body>
</html>