<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret ny skade til skaderapport</title>
    <link href="../../static/style.css" rel="stylesheet" th:href="@{style.css}">
    <link href="../../static/damage-css/create-damage.css" rel="stylesheet" th:href="@{damage-css/create-damage.css}">
    <link href="../../static/form.css" rel="stylesheet" th:href="@{form.css}">
</head>
<body>

<header th:insert="fragments/header.html :: header"></header>
<main>
    <section id="create-damage">
        <h1>Opret ny skade</h1>
        <div class="form-wrapper">
            <form action="/createDamage" method="POST">
                <label for="damagePrice">Skadepris</label>
                <input id="damagePrice" name="damagePrice" type="number" required>
                <label for="damageDescription">Skadebeskrivelse</label>
                <input id="damageDescription" name="damageDescription" type="text" required>
                <label for="contractId" hidden>contractId</label>
                <input hidden id="contractId" name="contractId" th:value="${param.contractId}" type="number">
                <input id="submit" type="submit">
            </form>
        </div>
    </section>
</main>
</body>
</html>